$colorBackground: #f7efe7;
$colorDefault: white;
$colorOverlay: #000000cc;
$colorDarkText: black;
$colorLightText: white;
$colorBanner: #003941;
$colorButton: black;


$fontMain: 'Crimson Pro', serif;
$fontButton: 'Montserrat', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

$mobileMaxBreakpoint: 767px;
$tabletMinBreakpoint: 768px;
$tabletMaxBreakpoint: 1023px;
$desktopMinBreakpoint: 1024px;
// $mobileBreakpoint    : "only screen and (max-width: 767px)";
// $tabletBreakpoint    : "only screen and (min-width: 768px) and (max-width: 1023px)";
// $desktopBreakpoint   : "only screen and (min-width: 1024px)";

