$colorBackground: #f7efe7;
$colorDefault: white;
$colorOverlay: #000000cc;
$colorDarkText: black;
$colorLightText: white;
$colorBanner: #003941;
$colorButton: black;


$fontMain: 'Crimson Pro', serif;
$fontButton: 'Montserrat', sans-serif;
