@import "../../Variables.scss";

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

.cartWrapper {
    position: fixed;
    top: 72px;
    right: 0;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.cartOpen {
    transform: translateX(0);
}

.emptyCartMessage {
    font-size: 20px;
    font-style: italic;
    font-family: $fontSecondary;
    margin-top: 35px;
}

.cartContent {
    @include flexColumn();
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 100vh - 7.8vh;
    padding: 0 5% 8% 5%;
}

//cart is full width for mobile
@media screen and (max-width: $mobileMaxBreakpoint) {
    .cartContent {
        width: 100vw;
    }
}

@media screen and (min-width: $tabletMinBreakpoint) and (max-width: $tabletMaxBreakpoint) {
    .cartContent {
        width: 616px;
    }
}

@media screen and (min-width: $desktopMinBreakpoint) {
    .cartContent {
        width: 616px;
    }
}

.cartItems {
    overflow: scroll;
    margin-bottom: 20px;
    width: 100%;
}

.checkoutDiv {
    @include flexColumn();
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }

    p {
        font-size: 36px;
        font-family: $fontSecondary;
    }
}