//defined colors
$colorBackground: #f7efe7;
$colorDefault: white;
$colorOverlay: #000000cc;
$colorDarkText: black;
$colorLightText: white;
$colorBanner: #003941;
$colorButton: black;

//defined fonts
$fontMain: 'Crimson Pro', serif;
$fontButton: 'Montserrat', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

//defined responsive breakpoints
$mobileMaxBreakpoint: 767px;
$tabletMinBreakpoint: 768px;
$tabletMaxBreakpoint: 1023px;
$desktopMinBreakpoint: 1024px;

